<section class="blog-profile">
<h1><%= @blog.name %></h1>
<p><%= @blog.description %></p>

<%= filepicker_image_tag @blog.avatar_url, w: 160, h: 160, fit: 'clip' %>

</section>


<div class="container">
	<div class="row">
		
<h2>Make a New Post</h2>
		
<button class="js-modal-open-1" data-id="<%= @blog.id %>">Open Modal T1
</button>
<button class="js-modal-open-2" data-id="<%= @blog.id %>">Open Modal T2
</button>
		
		
	<%= render partial: "posts/new", locals: { post: Post.new } %>
	</div>
</div>

<section>
	<h2>Posts</h2>
<div class="container">
	
	<% @blog.posts.each do |p| %>
		<%= render partial: "posts/post", locals: { post: p } %>
	<% end %>
	
</div>

</section>

<div class="modal-container">
</div>