<section class="blog-profile">
<h1><%= @blog.name %></h1>
<p><%= @blog.description %></p>

<%= filepicker_image_tag @blog.avatar_url, w: 160, h: 160, fit: 'clip' %>

</section>


<div class="container">
	<h2>Make a New Post</h2>
		
	<div class="row">
		
	<button class='full-post-modal btn btn-default' data-id="<%= @blog.id %>">Create Post
	</button>

	<button class="full-post-modal btn btn-info" data-tab-num="1" data-id="<%= @blog.id %>">Text Post
	</button>
	<button class="full-post-modal btn btn-warning" data-tab-num="2" data-id="<%= @blog.id %>">Image Post
	</button>
	
	</div>
	<div class="inline-notifications"></div>
</div>

<section>
	<h2>Posts</h2>
<div class="container">
	
	<% @blog.posts.each do |p| %>
		<%= render partial: "posts/post", locals: { post: p } %>
	<% end %>
	
</div>

</section>

