<h2>Recent Notifications</h2>

<ul class="activity-feed">	
<% user.notifications().each(function(note){ %>
		<a href="#/<%= note.escape('notifiable_url') %>"><li class="btn oe-btn-inline-icon <%= note.get('notification_type') %>">		
		<%= note.escape('noter_blog_handle') %> 
		<%= note.escape('content') %>
 <i class="fa fa-arrow-right"></i>
		</li></a>
	
<% }); %>
</ul>

<h2>Activity Feed</h2>

<ul class="activity-feed">
<% user.notes().each(function(note){ %>
	<a href="#/<%= note.get('notifiable_url') %>">
		<li class="btn oe-btn-inline-icon <%= note.get('notification_type') %>">
			<%= note.get('noter_content') %>
		</li>
	</a>
<% }); %>
</ul>