<h2>welcome back <%= user.escape('email') %>!</h2>

<h3><button class="btn oe-btn oe-btn-inline-icon" id="create-new-blog">
	<span data-btn-text="create a new blog"><a href="#<%= Routes.new_blog_path() %>"><i class="fa fa-plus-square-o"></i> create a new blog </a></span>
	</button>
</h3>

<div class="container settings-container">
	<div class="row">
		
		<div class="col-md-8 col-sm-8 col-xs-8">
			<section id="settings"></section>
		</div>
		
		<div class="right-settings-container">
			<div class="col-md-3 col-sm-3 col-xs-3">
			<table class="blogs-table">
				<tr class="main-settings">
					<td col-span="2">
					<button class="btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon user-settings-btn"><span data-btn-text="update me"><i class="fa fa-sliders"></i> user settings</span></button>
				<button class="btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon user-notifications"><span data-btn-text="everyday i'm tumblin'"><i class="fa fa-bell-o"></i> activity feed </span></button>
						</td>
				</tr>
				
			</table>
			
			<table class="blogs-table blogs-settings">
				<tbody>
			<% user.blogs().each(function(blog){ %>
			<tr>
					<td>
						<% if (blog.escape('avatar_url')) { %>
							<img class="avatar" src="<%= blog.escape('avatar_url') %>">
						<% } else { %>
							<img class="avatar" src="<%= Tumblero.Assets.path('default_avatar_03.png') %>">
						<% } %>
					</td>
					<td>
						<button class="btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon blog-settings-btn" href="#" data-blog-id="<%= blog.id %>"><span data-btn-text="blog settings"><i class="fa fa-wrench"></i> <%= blog.escape('name') %></span></button>
					</td>
				</tr>
			<% }); %>
				
				</tbody>
		</table>
		
		</div>
		
	</div>
</div>
</div>
