<li>
	<button class="btn like-btn like-comment" data-likeable-type="Comment" data-likeable-id="<%= comment.id %>" data-initial-like-state='<%= initialLikeState%>' id="like-btn-<%= comment.id %>"></button>
  <%= comment.escape('body') %> | <a href="" class="reply-comment" data-parent_id="<%= comment.id %>">reply</a>
</li>

	
<ol class="more-child-comment" id="more-child-comment-<%= comment.id %>">
	
</ol>
	