<li>
	<a class="commenter" href="#/blogs/<%= main_blog_id %>"><%= comment.escape('main_blog_handle') %>
	</a>
	<button class="follow-btn btn btn-info" data-blog-id="<%= main_blog_id %>" data-initial-follow-state="<%= initialFollowState %>" id="follow-btn-<%= main_blog_id %>"></button>
	
	<div class="comment-body-container group">
		
		<span class="toggleable">
			<button class="like-btn like-comment" data-likeable-type="Comment" data-likeable-id="<%= comment.id %>" data-initial-like-state='<%= initialLikeState%>' id="like-btn-<%= comment.id %>"><i class='fa fa-heart'></i></button>
		</span>
	
		<div class="comment-body">
			<%= comment.escape('body') %> 	
			<a href="" class="reply-comment" data-parent_id="<%= comment.id %>">reply</a>
		</div>  
	</div>
	
</li>

	
<ol class="more-child-comment" id="more-child-comment-<%= comment.id %>">
	
</ol>
	