<li>
	<span class="group">
	<a class="commenter pull-left" href="#/blogs/<%= main_blog_id %>"><%= comment.escape('main_blog_handle') %>
	</a>
		
		<% if (shouldShowFollow) { %>
			<button class="follow-btn btn btn-info pull-left follow-btn-small follow-btn-<%= main_blog_id %>" data-blog-id="<%= main_blog_id %>" data-initial-follow-state="<%= initialFollowState %>" id="follow-btn-<%= main_blog_id %>"></button>
		<% } %>
		
		</span>
	
	<div class="comment-body-container group">
		
		<div class="comment-body">
			<%= comment.escape('body') %> 	
		</div>
		

		<span class="toggleable group">
			<button class="like-btn like-comment" data-likeable-type="Comment" data-likeable-id="<%= comment.id %>" data-initial-like-state='<%= initialLikeState%>' id="like-btn-<%= comment.id %>"><i class='fa fa-heart'></i></button>
			
			<button type="submit" class="btn oe-btn oe-btn-reflect reply-comment new-comment" data-parent_id="<%= comment.id %>"><span>reply</span>
		</button>
<!-- 			
			<a href="#" class="reply-comment" data-parent_id="<%= comment.id %>">reply</a> -->
		</span>
		
	</div>
	
</li>

	
<ol class="more-child-comment" id="more-child-comment-<%= comment.id %>">
	
</ol>
	