
<div class="bbm-modal__section modal post-modal">
	
<form class='modal-form' id="reblog-form">
	<span class="modal-close js-modal-close">&times;</span>
		
	<div class="bbm-modal__topbar full-modal">
		<ul>
				<select class="form-control" name="post[blog_id]" id="post_blog_id">
					<% blogs.each(function(blog){ %>
							<option value="<%= blog.id %>" data-blog-name="<%= blog.escape('name') %>"><%= blog.escape('name') %></option>
					<% }); %>
				</select>
			
			<li class="bbm-modal__tab">Reblog</li>

		</ul>
	</div>

		
	<div class="form-group">
		<h3>
			<% if (post.get('title')) { %>
				<%= post.get('title') %>
				<input type="hidden" name="post[title]" value="<%= post.get('title') %>">
			<% } %>		
		</h3>
	</div>
	
	<div class="form-group">
		<input type="hidden" name="post[filepicker_urls]" id="post_filepicker_urls" value="<%= post.escape('filepicker_urls') %>">
		<div class="image-thumbnails">
			<% if (post.get('filepicker_urls') && post.get('filepicker_urls').length > 0) { %>
				<% post.get('filepicker_urls').split(",").forEach(function(file_url) { %>
					<img src="<%= file_url %>">
				<% }); %>
			<% } %>
		</div>
	</div>	
	
	<div class="form-group wysiwyg">
    <textarea id="post-content" name="post[content]"></textarea>
	</div>
		
	<input type="hidden" name="post[reblogged]" value="true">
	<input type="hidden" name="post[source_id]" value="<%= source_id %>">
	<input type="hidden" name="post[reblogs_count]" value="<%= post.get('reblogs_count') %>">
	<input type="hidden" name="post[comments_count]" value="<%= post.get('comments_count') %>">
	<input type="hidden" name="post[likes_count]" value="<%= post.get('likes_count') %>">
	
  <input type="submit" class="submit-el btn btn-info" value="POST">
	</form>
	
	<div class="modal-screen js-modal-close"></div>
</div>