<div class="post">
	
<h3><% if (post.get('title')) { %>
			<%= post.get('title') %>
		<% } %>
</h3>

	<% if (post.get('filepicker_urls') && post.get('filepicker_urls').length > 0) { %>
		<% post.get('filepicker_urls').split(",").forEach(function(file_url) { %>
			<img src="<%= file_url %>">
		<% }); %>
	<% } %>
	
	<p>
		<% if (post.get('content')) { %>
			<%= post.get('content') %>
		<% } %>
	</p>
	
	<p>
		<% tag_names.forEach(function(tag){ %>
			<span><a href="">#<%= tag.escape('name') %></a></span>
		<% }); %>
	</p>

	<span class="count-notes"><%= post.escape('notes_count') %> notes</span>
	
	<button class="btn like-btn like-post" data-likeable-type="Post" data-likeable-id="<%= post.id %>" data-initial-like-state='<%= initialLikeState%>'></button>
	
	<button class="btn reblog-btn" data-post-id="<%= post.id %>">reblog</button>
	
	<a class="btn btn-default open-comments" data-open-comments="#/posts/<%= post.id %>/comments" href="#/posts/<%= post.id %>/comments"><span class="count-comments" data-curr-count="<%= count_comments %>"><%= count_comments %></span> comments</a>
	
	
	<div id="post-comments-<%= post.id %>" class="comments-container">	
	</div>
	
</div>
