<div class="post">
	
<h3><% if (post.get('title')) { %>
			<%= post.get('title') %>
		<% } %>
</h3>

	<% if (post.get('filepicker_urls').length > 0) { %>
		<% post.get('filepicker_urls').split(",").forEach(function(file_url) { %>
			<img src="<%= file_url %>">
		<% }); %>
	<% } %>
	
	<p>
		<% if (post.get('content')) { %>
			<%= post.get('content') %>
		<% } %>
	</p>
	
	<p>
		<%= tag_names %>
	</p>

	<span class="count-notes"><%= post.escape('count_notes') %> notes</span>
	<button class="btn like-btn" data-likeable-type="Post" data-likeable-id="<%= post.id %>" data-initial-like-state='<%= initialLikeState%>'></button>
	
	
	<button class="btn reblog-btn" data-post-id="<%= post.id %>">reblog</button>
	
	<a class="btn btn-default open-comments" data-open-comments="#/posts/<%= post.id %>/comments" href="#/posts/<%= post.id %>/comments">comments</a>
	
	
	<div id="post-comments-<%= post.id %>" class="comments-container">	
	</div>
	
</div>
