<div class="item blog-profile">
<h3><a href="#<%= Routes.blog_path(blog) %>"><%= blog.get('name') %></a></h3>
	<!-- follow button -->
	<button class="follow-btn btn btn-info" data-blog-id="<%= blog.id %>" data-initial-follow-state="<%= initialFollowState %>" id="follow-btn-<%= blog.id %>"></button>
	
<figure>
	<% if (blog.get('avatar_url')) { %>
		<img src="<%= blog.get('avatar_url') %>">
	<% } else { %>
		<img src="<%= Tumblero.Assets.path('default_avatar_02.png') %>">
	<% } %>
	<figcaption><%= blog.escape('description') %></figcaption>
</figure>


</div>