<li class="blog-profile">
<h3><a href="#<%= Routes.blog_path(blog) %>"><%= blog.get('name') %></a></h3>
	<!-- follow button -->
	<button class="follow-btn btn btn-info" data-blog-id="<%= blog.id %>" data-initial-follow-state="<%= initialFollowState %>"></button>
	
<figure>
	<img src="<%= blog.escape('avatar_url') %>">
	<figcaption><%= blog.escape('description') %></figcaption>
</figure>


</li>