<section class="blog-profile">
	<h1><a href="#<%= Routes.blog_path(blog) %>"><%= blog.get('name') %></a></h1>
	<% if (current_user_id !== blog.get('user_id')) { %>
		<button class="follow-btn btn btn-info" data-blog-id="<%= blog.id %>" data-initial-follow-state="<%= initialFollowState %>"></button>
	<% } %>
	<p><%= blog.get('description') %></p>
	
	<% if (blog.get('avatar_url')) { %>
		<img src="<%= blog.get('avatar_url') %>">
	<% } else { %>
		<img src="<%= Tumblero.Assets.path('default_avatar_02.png') %>">
	<% } %>
</section>


<!-- 	<div class="inline-notifications"></div> -->

<section>
	
	
	<h2>Posts</h2>
	
<!-- 	<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3"> -->
	<div class="sortable-bar group">
		<ul class="nav nav-tabs oe-tabs sort-methods group" role="tablist" style="float:left;">
		<li class="active">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="created_at">
				<i class="fa fa-key"></i> Recent</a>
		</li>
		<li class="">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="notes_count">
				<i class="fa fa-suitcase"></i> Popular</a>
		</li>
		<li class="">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="recent_notes_count">
				<i class="fa fa-flask"></i> Trending</a>
		</li>
			
		</ul>
		
		<li class="inline-search-bar">
				<input type="text" id="search-tag" class="form-control" placeholder="search tags">
		</li>
		
	</div>
	
	
	<div class="posts-container"></div>

		
	
	
	<div id="pagination-nav"></div>

</section>

