<section class="blog-profile">
	<h1><a href="#<%= Routes.blog_path(blog) %>"><%= blog.get('name') %></a></h1>
	<% if (current_user_id !== blog.get('user_id')) { %>
		<button class="follow-btn btn btn-info" data-blog-id="<%= blog.id %>" data-initial-follow-state="<%= initialFollowState %>"></button>
	<% } %>
	<p><%= blog.get('description') %></p>
	
	<% if (blog.get('avatar_url')) { %>
		<img src="<%= blog.get('avatar_url') %>">
	<% } else { %>
		<img src="<%= Tumblero.Assets.path('default_avatar_02.png') %>">
	<% } %>
</section>


<div class="container hidden">
	<h2>Make a New Post</h2>
		
	<div class="row">
		
		<button class='full-post-modal btn btn-default' data-id="<%= blog.id %>">Create Post
		</button>

		<button class="full-post-modal btn btn-info" data-tab-num="1" data-id="<%= blog.id %>">Text Post
		</button>
		<button class="full-post-modal btn btn-warning" data-tab-num="2" data-id="<%= blog.id %>">Image Post
		</button>
	
	</div>
	
<!-- 	<div class="inline-notifications"></div> -->
</div>

<section>
	
	
	<h2>Posts</h2>
	<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">
		
		<ul class="nav nav-tabs oe-tabs sort-methods" role="tablist">
		<li class="active">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="created_at">
				<i class="fa fa-key"></i>Recent</a>
		</li>
		<li class="">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="count_notes">
				<i class="fa fa-suitcase"></i>Popular</a>
		</li>
		<li class="">
			<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="count_recent_notes">
				<i class="fa fa-flask"></i>Trending</a>
		</li>
	</ul>
	
	
		<div class="posts-container"></div>

	</div>

</section>

