<div class="post row">
<h4><%= post.title.html_safe if post.title %></h4>
	
<% post.filepicker_urls.split(",").each do |file_url| %>
	<%= filepicker_image_tag file_url, w: 300, h: 300, fit: 'clip' %>
<% end %>
	
<p><%= post.content.html_safe if post.content %></p>

	<a href="#/posts/<%= post.id %>/comments">comment</a>
		<div id="post-comments-<%= post.id %>" class="comments-container">
			
		</div>
	
</div>
