<!DOCTYPE html>
<html>
<head>
  <title>tumblero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= filepicker_js_include_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-nav"></div>
	<% flash.each do |type, message| %>
		<% if type == 'errors' %>
			<%= flash_errors %>
		<% else %>
			<div class="alert alert-#{type}">
				<%= "#{message}" %>
			</div>
		<% end %>
	<% end %>

<%= yield %>
	
	<div class="modal-container"></div>
	
	<div class="follow-up">
		<button class="btn oe-btn oe-btn-red oe-btn-inline-icon" id="new-blog">
			<a href="#/blogs/new"><span>create your first blog <i class="fa fa-forward"></i></span></a>
		</button>
	</div>
	<%= render 'layouts/footer' %>
	
	<% if current_user.present? %>
		<script type="text/javascript">
				Tumblero.current_user = new Tumblero.Models.User({id: <%= current_user.id %>});
		</script>
	<% end %>
	
</body>
</html>
